.content {
    width: 100%;
  &__container {
      position: relative;
      height: 1362px;
      background-color: #101010;
      &_top {
          padding-top: 150px;
          &_heading {
        margin-left: 100px;
        max-width: 1188px;
        width: 100%;
        text-align: left;
        text-transform: capitalize;
        & h3 {
        font-size: 24px;
          font-weight: 700;
          line-height: 1.2;
          color: #00ffa3;
        }
        & h1 {
          width: 100%;
          margin-top: 16px;
          font-size: 60px;
          font-weight: 400;
          line-height: 1.2;
        }
      }
      &_text {
        position: absolute;
        top: 3%;
        right: -15%;
        & h1 {
          text-transform: uppercase;
          display: inline;
          -webkit-text-stroke-width: 1px;
          -webkit-text-fill-color: transparent;
          -webkit-text-stroke-color: #363636;
          font-size: 329px;
          font-weight: 700;
          line-height: 1.2;
        }
        &--bottom{
            top: 60%;
            left: 0%;
        }
      }
    }
    &_bottom {
      display: flex;
      align-items: center;
      margin-top: 141px;


      &_left{
        display: flex;
        z-index: 5;

        & i{
            align-self: flex-end;
            margin-left: -50px;
            cursor: pointer;
            transition: all .5s ease;
            &:hover{
                transform: scale(1.1);
            }
        }
      }

      &_right {
        text-transform: capitalize;
        & h1 {
          font-size: 60px;
          width: 506px;
          font-weight: 400;
          line-height: 1.2;
          margin-left: -150px;
          margin-top: -300px;
          margin-bottom: 33px;
        }
        & p {
          color: #828282;
          width: 545px;
          margin-right: 141px;
          font-family: Space Grotesk;
          font-size: 18px;
          font-weight: 400;
          line-height: 1.2;
          margin-left: 44px;
        }
      }
    }
  }
}
