@use "./mixins" as mixins;

.header {
  max-width: 1240px;
  width: 100%;
z-index: 1;
  &__container {
    margin-top: 38px;
    height: 58px;
    font-family: mixins.$primary;
    @include mixins.flexContent;
    justify-content: space-between;
    max-width: 1240px;
    margin-inline: 11px;

    &_left {
      display: flex;

      align-items: center;
      &--menu {
        @include mixins.flexContent;
        justify-content: space-between;
        margin-left: 56px;
        & > * {
          margin-left: 24px;
          font-family: Space Grotesk;
          font-size: 16px;
          font-weight: 700;
          line-height: 1.6;
        }
      }
    }
    &_right {
      display: flex;
      align-items: center;
      width: 223px;
      & button {
        cursor: pointer;
        background: transparent;
        border: none;
        font-family: Space Grotesk;
        font-size: 16px;
        font-weight: 700;
        line-height: 1.6;
        max-width: 91px;
        width: 100%;
        height: 58px;
        &:nth-child(2) {
          margin-left: 24px;
          border: 1px solid black;
        }
      }
    }
  }
}
