@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');




$primary: "Space Grotesk";



@mixin flexContent($direction: row){
    display: flex;
    align-items: center;
    justify-content: center;
}
